<% include ./partials/header.ejs %>
<nav class="navbar navbar-expand-lg navbar-light ">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img src="../images/icon.jpg" alt=""></a>
		<form class="d-flex">
			<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-primary" type="submit">Search</button>
		</form>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li id="marleft" class="nav-item d-flex flex-column align-items-center">
					<a class="nav-link active" aria-current="page" href="/profile">
						<div class="icon flex"><img class="img" style="opacity: 1;" src="../images/home.png" alt=""></div>
						<div class="hometxt flex">Home</div>
					</a>
					<hr>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/mynetwork">
						<div class="icon connections flex"><img class="img" src="../images/connections.png" alt=""></div>
						<div class="conntxt flex ">My Network</div>
                        <hr>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mrlft" aria-current="page" href="/jobs">
						<div class="icon flex jobs"><img class="img" src="../images/jobs.png" alt=""></div>
						<div class="hometxt flex ">Jobs</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="#">
						<div class="icon msg flex"><img class="img" src="../images/msg.png" alt=""></div>
						<div class="hometxt flex ">Messaging</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link notifications" aria-current="page" href="#">
						<div class="icon notif flex"><img class="img" src="../images/notification.png" alt=""></div>
						<div class="hometxt flex ">Notifications</div>
					</a>
				</li>
				<div class="dropdown">
					
					<a href="" class="nav-link ">
						<img id="me" class="img" src="../images/user.png" alt="default-pic">
						<br>
						Me
					</a>
					<div id="abs">
						<div class="dropdown-content">
							<a href="/profile">
								<div id="profile">
									<div id="dp"></div>
									<div id="dets">
										<h6>Name</h6>
										<p>Headline</p>
										<div class="btn rounded-pill" id="signinbtn">View Profile</div>
									</div>
								</a>
								<hr>
								<div id="scnd">
									<h6>Account</h6>
									<a href="">Settings & Privacy</a>
									<a href="/logout">Logout</a>
									<a href="">Language</a>
								</div>
								<hr>
								<div id="third">
									<h6>Manage</h6>
									<a href="">Posts & Activity</a>
									<a href="">Job Posting Account</a>
								</div>
								<hr>
								<a href="/logout" id="lh">Sign Out</a>
							</div>
						</div>
					</div>
				</ul>

			</div>
		</div>
	</nav>

	<div id="main3" style="width: 100%; min-height: 100vh;">
		<div id="container11" style="display: flex; padding-top: 20px;">
			<div id="flexdiv" style="border-top: 1px solid transparent; position: fixed;">
				<div class="card profilecard "
					style="width:20rem; min-height:30rem ;margin-top: 50px; margin-left: 60px;  ">
					<h5 style="margin-left: 15px; margin-top: 10px; font-size: 20px;">Manage my network</h5>
					<div id="container1"
						style="display: flex; justify-content: space-between;padding: 0 30px; margin-top: 20px; font-weight: 100;">
						<div id="con11"
							style="display: flex;justify-content: space-between; padding-left: 10px; font-size: 1.2em; font-weight: lighter;">
							<i class="ri-group-line"></i><a href="" style="text-decoration: none; color: black;">
								<h6 style="margin-top: 5px
            ; margin-left: 5px;">Connections</h6>
							</a> </div>
						<div id="con22" style="font-size: 1.2em;">0</div>
					</div>
					<div id="container1"
						style="display: flex; justify-content: space-between;padding: 0 30px; margin-top: 20px; font-weight: 100;">
						<div id="con11"
							style="display: flex;justify-content: space-between; padding-left: 10px; font-size: 1.2em; font-weight: lighter;">
							<i class="ri-contacts-book-line"></i> <a href=""
								style="text-decoration: none; color: black;">
								<h6 style="margin-top: 5px
                ; margin-left: 5px;">Contact</h6>
							</a></div>
						<div id="con22" style="font-size: 1.2em;">0</div>
					</div>
					<div id="container1"
						style="display: flex; justify-content: space-between;padding: 0 30px; margin-top: 20px; font-weight: 100;">
						<div id="con11"
							style="display: flex;justify-content: space-between; padding-left: 10px; font-size: 1.2em; font-weight: lighter;">
							<i class="ri-user-follow-line"></i> <a href="" style="text-decoration: none; color: black;">
								<h6 style="margin-top: 5px
                    ; margin-left: 5px;">People|follow</h6>
							</a> </div>
						<div id="con22" style="font-size: 1.2em;">0</div>
					</div>
					<br>
					<HR>
					</HR>
					<h5 style="margin: 0 auto;">Add personal contacts</h5>
					<div id="content" style="padding: 15px 20px; font-size: 12px; text-align: center;line-height: 2;">
						<p>We’ll periodically import and store your contacts to help you and others connect. You choose
							who to connect to and who to invite</p>
					</div>
					<form action="/finduser" style="margin: 0 auto;">
						<div id="inp" style="margin:0 auto; letter-spacing: 2px;">
							<input type="text" name="contact" placeholder="enter contact number">
						</div>
						<br>
						<input type="submit" value="continue"
							style="margin:0 auto; text-align: center; background-color: rgb(63, 63, 175); border-radius: 20px; width: 100%; letter-spacing: 2px; font-size: 15px; ">

					</form>

				</div>
			</div>
			<div id="invitations">
				<%foundUser.connectionrequest.forEach(function(request){%>
					<div id="subInvitations">
						<div id="pImg"></div>
						<div id="text" style="margin-left: 10px; padding: 10px;font-family: product sans;">
							<h1><%=request.username%></h1>
							<h5><%=request.headline%></h5>
							<h6>followed by <%=request.connections.length%> others</h6>
						</div>
						<div id="requests">
							<style>
							</style>
							<button style="border: none; color: grey;"><a href="/reject/<%=request._id%>"
									style="text-decoration: none;">reject</a></button>
							<button style="border: 1px solid blue; color: blue;"><a href="/accept/<%=request._id%>"
									style="text-decoration: none;">Accept</a> </button>
						</div>
					</div>
				<%})%>
				
			</div>
		</div>
		<div id="suggestionbox">
			<%allUsers.forEach(function(users){%>
				<div id="cardpeoples">
					<div id="cardimg">
						<div id="imgcard">
							<img src="" style="width: 100%;object-fit: cover;" alt="">
						</div>
					</div>
	
					<div id="connection_details">
						<h4><%=users.name%></h4>
						<p><%=users.description%></p>
						<p id="hash_tags">#html #microsoft #apple #google #facebook #mern</p>
					</div>
					<button id="connect_btn"><a href="/connection/<%=users._id%>"
							style="text-decoration: none;">Connect</a></button>
	
				</div>
	
			<%})%>
			
		</div>


	</div>
















	<% include ./partials/footer.ejs%>